/* styles used throughout all components */
.main {
	padding: 0 25px;
}
.container {
	margin: auto;
}

.clear {
	clear: both;
	float: left;
	width: 100%;
}

.hide-xs {
	display: block;
}

.hide-d {
	display: none;
}

@media screen and (max-width: 880px) {
	.hide-xs {
		display: none;
	}

	.hide-d {
		display: block;
	}

	html,
	body {
		overflow-x: hidden;
	}
	body {
		position: relative;
	}
}

.modalSingle-outer {
	background: rgba(0, 0, 0, 0.8);
	z-index: 9999;
	position: fixed;
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
}

.modalSingle-inner {
	max-width: 800px;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

.modalSingle-inner img {
	max-width: 100%;
}

.modalSingle-exit {
	position: absolute;
	color: #fff;
	width: 50px;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	top: 20%;
	right: -38px;
	z-index: 100;
	cursor: pointer;
	font-size: 20px;
	line-height: 1;
	margin: 0;
}

/* Center the X symbol inside the span */
.modalSingle-exit::before {
	content: 'X';
	display: block;
	text-align: center;
	line-height: 32px;
}
